div.apptitle {
    height: 40px;
}

.logoimg {
    height: calc(100% - 40px);
    width: 100%;
    img {
        width: 100%;
        height: 100%;
    }
    position:relative;
}

.logoimg .para1 {
    top: 20%;
    left: 0;
    right: 0;
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 3%;
}

.logoimg .okbutton {
    height: 20px;
    width: 20%;
    top: 60%;
    left: 40%;
    position: absolute;
    background-color: indianred;
}