<div class="fadeMe">
  <div style="position:relative;width:100vw;height:100vh;">
    <div class="proBar">
      <label>Bilder werden übertragen...</label><br>
      <progress id="progressBar" [value]="proValue" [max]="max"></progress>
    </div>
  </div>
</div>
<ion-header>
</ion-header>

<ion-content padding id="sel_img">
  <div text-center>
    <ion-title>PicturePrint</ion-title>
    <p> Sie können insgesamt {{imgMaxNum}} Bilder übertragen, welche nicht älter als {{imgAgeHours}} Stunden alt sind.</p>
  </div>
  <br>

  <div class="my-image-items">
    <ion-thumbnail text-center  *ngFor="let imgArray of imgArrays">
      <img [src]="imgArray.img">
      <ion-checkbox [checked]="imgArray.checked" (click)="toggleItem(imgArray)" style="width: 32px; height: 32px; position: absolute;bottom: 5%;left:40%;"></ion-checkbox>
      <!--<button ion-button small round (click)="presentActionSheet(imgArray.id)" *ngIf="!imgArray.bFlag">auswählen-->
      <!--</button>-->
      <!--<button ion-button small round (click)="removeImage(imgArray.id)" *ngIf="imgArray.bFlag">-->
        <!--<ion-icon name ="trash"> entfernen </ion-icon>-->
      <!--</button>-->
    </ion-thumbnail>

  </div>

  <!--<input id="camera" type="file" accept="image/*" style="visibility: hidden">-->

</ion-content>
<ion-footer>
    <div text-center style="height:80px;">
      <button class="my-button2" ion-button [navPush]="homePage" large *ngIf="btnSelFlag">Zurück</button>
      <button class="my-button2" ion-button large (click)="fileSend()" *ngIf="btnSelFlag">Drucken</button>
    </div>
</ion-footer>
